body {
	font-family: Arial;
	font-size: 12px;
	margin:0px;
	padding:0px;
}

body {
	background-image: url(imagenes/bg.jpg);
	background-repeat: repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
form{
	margin:0px;
}
fieldset{
	border:0px solid;
	padding:0px;
	margin:0px;
}
a:link {
	color: #0099FF;
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
	color: #0099FF;
}
a:hover {
	text-decoration: none;
	color: #FF9900;
}
a:active {
	text-decoration: underline;
	color: #0099FF;
}
img{
	border:0px;
}
#cont{
	width:890px;
	margin:auto;
}
#logo{
	float:left;
	margin-top:30px;
	margin-left:5px;
	width:270px;
	height:65px;
}
#idiomas{
	float:left;
	width:600px;
	height:31px;
	text-align:right;
}
#txtheader{
	float:right;
	width:540px;
	height:32px;
	text-align:right;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial;
	font-size:20px;
	color:#666666;
	padding-top:0px;
	background:url(imagenes/comi.gif) no-repeat;
}
.corte1{
	clear:both;
}
#lizq{
	width:735px;
	float:left;
}
#lder{
	margin-left:5px;
	width:140px;
	height:409px;
	float:left;
	background-image:url(imagenes/lder.jpg);
	background-repeat:no-repeat;
	font-family:Arial;
	text-align:center;
	color:#999999;
	padding:0px;
	padding-top:6px;
}
#inforapida{
	width:295px;
	height:146px;
	padding-left:60px;
	padding-top:49px;
	background:url(imagenes/inforapida.jpg) no-repeat;
	float:left;
	color:#FFFFFF;
	font-size:14px;
	font-family:Arial;
	line-height:17px;
}
#login{
	margin-left:5px;
	width:375px;
	height:195px;
	background:url(imagenes/login.jpg) no-repeat;
	float:left;
}
.inlog{
	border:1px solid #5EC2FF;
	font-size:13px;
	color:#84979B;
	width:170px;
	padding:0px;
}
.inlog2{
	border:0px #5EC2FF;
	font-size:12px;
	font-weight:normal;
	color:#FF0000;
	width:190px;
	padding:0px;
}
.txtlog{
	font-size:13px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:right;
	padding-top:0px;
	font-family:Verdana;
}
#blolarg{
	width:715px;
	height:110px;
	padding:10px;
	background:url(imagenes/blolarg.jpg) no-repeat;
	margin-top:5px;
}
#imgprueba{
	float:left;
	width:160px;
	height:100px;
}
.linkidiom{
	float:left;
	width:515px;
	padding-left:15px;
	padding-top:6px;
}
.linkidiom a:link,.linkidiom a:active,.linkidiom a:visited{
	color:#0099CC;
	font-size:12px;
	font-family:Arial;
	text-decoration:underline;
}
.linkidiom a:hover{
	color:#00CCFF;
	font-size:12px;
	font-family:Arial;
	text-decoration:none;
}

.linklog{
	font-size:10px;
	font-weight:bold;
	font-family:Verdana;
}
.linklog a:link,.linklog a:active,.linklog a:visited{
	color:#E8FFFF;
	text-decoration:underline;
}
.linklog a:hover{
	color:#FFFFFF;
	text-decoration:none;
}
.lk2{
	font-size:16px;
	color:#666666;
	font-weight:bold;
	display:block;
	padding-top:5px;
}
.lk2 a:link,.lk2 a:active,.lk2 a:visited,.lk2 a:hover{
	color:#666666;
	text-decoration:underline;
}
#amigo{
	margin-top:5px;
	background:url(imagenes/amigo.jpg) no-repeat;
	width:151px;
	height:65px;
	padding-left:90px;
	padding-top:15px;
	font-size:11px;
	font-family:Arial;
	color:#777777;
	float:left;
}
#test{
	margin-top:5px;
	margin-left:5px;
	background:url(imagenes/test.jpg) no-repeat;
	width:161px;
	height:65px;
	padding-left:80px;
	padding-top:15px;
	font-size:11px;
	font-family:Arial;
	color:#777777;
	float:left;
}
#donar{
	margin-top:5px;
	margin-left:5px;
	background:url(imagenes/donar.jpg) no-repeat;
	width:173px;
	height:65px;
	padding-left:70px;
	padding-top:15px;
	font-size:11px;
	font-family:Arial;
	color:#777777;
	float:left;
}
#piesep{
	margin-top:0px;
	border-top:3px solid #EBECEC;
	padding:8px;
	color:#AAAAAA;
	color:#999999;
	text-align:center;
}
#piesep a:link,#piesep a:active,#piesep a:visited{
	color:#77CDFF;
	text-decoration:underline;
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
}
#piesep a:hover{
	color:#0099FF;
}
.contenido{
	padding:5px;
	clear:both;
	color:#686868;
	font-family: verdana, arial, tahoma;
	font-size:15px;
	margin-left:20px;
	padding-left:10px;
	text-align:justify;
}
h1{
	float:left;
	width:540px;
	height:32px;
	text-align:right;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial;
	font-size:22px;
	font-weight:normal;
	color:#666666;
}
#freg{
	float:left;
	width:145px;
	padding-top:112px;
	text-align:center;
}
.btnreg{
	background-image:url(imagenes/btnregistrar.jpg);
	width:124px;
	height:27px;
	padding-top:7px;
	margin:auto;
}
.btnreg a:link,.btnreg a:active,.btnreg a:visited{
	color:#FF6600;
	text-decoration:underline;
	font-size:13px;
	font-weight:bold;
}
.btnreg a:hover{
	color:#058BDC;
	text-decoration:none;
}
#flog{
	float:left;
	margin-left:10px;
	padding-top:43px;
	width:218px;
}
#flog fieldset {
	padding:0px;
	border:0px solid;
}
#flog label{
	float:left;
	width:188px;
	text-align:left;
}
#flog input{
	margin-top:0px;
}