body {
	font-family: Arial;
	font-size: 12px;
	margin:0px;
	padding:0px;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
form{
	margin:0px;
}
fieldset{
	border:0px solid;
	padding:0px;
	margin:0px;
}
a:link {
	color: #0099FF;
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
	color: #0099FF;
}
a:hover {
	text-decoration: none;
	color: #FF9900;
}
a:active {
	text-decoration: underline;
	color: #0099FF;
}
img{
	border:0px;
}
.contenido{
	padding:5px;
	clear:both;
	color:#686868;
	font-family: verdana, arial, tahoma;
	font-size:15px;
	margin-left:20px;
	padding-left:10px;
	text-align:justify;
}
h1{
	float:left;
	width:540px;
	height:32px;
	text-align:right;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial;
	font-size:22px;
	font-weight:normal;
	color:#666666;
}
